.gradle
*.iml
/local.properties
.idea/**
!.idea/codeStyleSettings.xml
.DS_Store
build
google-services.json
!/library/google-services.json

crashlytics-build.properties
auth/src/main/res/values/com_crashlytics_export_strings.xml
*.log

###> symfony/webpack-encore-bundle ###
/node_modules/
!/public/build/
!/public/build/*
npm-debug.log
yarn-error.log
